<div class="grid md:grid-cols-2 grid-cols-1 bg-base-100 rounded-xl">
  <div class="">
    <div class="hero min-h-full rounded-l-xl bg-base-300">
      <div class="hero-content py-12">
        <div class="max-w-md">
          <h1 class="text-3xl text-center font-bold text-orange-600">
            <img
              src="../../../../../assets/images/panda.png"
              class="w-12 inline-block mr-2 mask mask-circle"
              alt="dashwind-logo"
            />Admin Zoo
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-24 px-10">
    <h2 class="text-2xl font-semibold mb-2 text-center text-white">Bienvenido</h2>
    <login-form />
  </div>
</div>
