<h2>{{animal() ? 'Editar' : 'Crear'}} Animal</h2>
<form [formGroup]="animalsForm" (ngSubmit)="onSave()" >
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <shared-input-text [labelTitle]="nameLabel" [control]="$any(animalsForm.get('name'))" />
    <shared-input-text [labelTitle]="ageLabel" [control]="$any(animalsForm.get('age'))" />
    <shared-input-text [labelTitle]="genderLabel" [control]="$any(animalsForm.get('gender'))" />
    <shared-input-text [labelTitle]="arrivalLabel" [control]="$any(animalsForm.get('arrival'))" />
    <shared-input-text [labelTitle]="health_conditionLabel" [control]="$any(animalsForm.get('health_condition'))" />
    
  </div>
  <div class="mt-16 flex justify-around">
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn" (click)="setNull()">Cerrar</button>
      </form>
    </div>
    <shared-btn [type]="'submit'" 
                [btnDisabled]="!this.animalsForm.valid" 
                >
      {{animal() ? 'Editar' : 'Crear'}}
    </shared-btn>
  </div>
</form>

